<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.png" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Serena</h1>
		<p>This week I built a blog in Rails 6. You're actually on the demo application.</p>
	</div>
</div>